@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah");

body {
    color: white;
    font-family: "Gloria Hallelujah", cursive;
    background: rgb(42, 43, 47);
    overflow: hidden;
}

div {
    user-select: none;
}

#click-me {
    position: relative;
    z-index: 99;
    cursor: pointer;
    background: url("https://img.icons8.com/fluency-systems-regular/32/000000/down-squared.png");
    width: 32px;
    height: 32px;

    outline: 0;
}

#panel {
    z-index: 99;
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.459);
    text-align: justify;
    font-size: 13px;
    color: white;
    margin-left: 5px;
    padding: 15px;
    width: 400px;
    height: 200px;
    border-radius: 5px 15px 15px 15px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    width: min(80%, 700px);
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.container-question {
    text-align: center;
}

.container-answer {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container-option {
    position: absolute;
    border-radius: 18px;
    text-align: center;
}

.container-option div {
    font-size: 2rem;
    width: 100px;
    padding: 5px;
    cursor: pointer;
}

#yes {
    margin-right: 200px;
    background-color: green;
}

#no {
    margin-left: 200px;
    background-color: red;
}

#message {
    text-align: center;
    font-size: 1.1rem;
    visibility: hidden;
}

h1 {
    width: inherit;
    font-size: 3rem;
}
